<div class="container py-3 my-5">
<form [formGroup]="addDocumentForm" (ngSubmit)="sendDocument()">
    <div class="form-group row">
        <label for="name" class="col-3 col-form-label">Name</label> 
        <div class="col-9">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-address-card"></i>
              </div>
            </div> 
            <input class="form-control" id="name"  formControlName="name" placeholder="Input name for file" type="text" aria-describedby="nameHelpBlock" required="required">
          </div> 
          <span id="emailHelpBlock" class="form-text text-muted">This field is required</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="file" class="col-3 col-form-label">File to upload</label> 
        <div class="col-9">
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                </div>
              </div>
          <span id="dniHelpBlock" class="form-text text-muted">This field is required</span>
        </div>
      </div>
      <div class="form-group row">
          <div class="offset-3 col-9">
            <button name="submit" type="submit" class="btn btn-primary">Send file</button>
          </div>
        </div>
      
    </form>
  </div>
    