<ng-container *ngIf="control.dirty || control.touched">
    <div class="invalid-feedback" *ngIf="control.hasError('required')">
      <i class="fa fa-exclamation-triangle"></i> This field is required
    </div>
  
    <div class="invalid-feedback" *ngIf="control.hasError('malformedMail')">
      <i class="fa fa-exclamation-triangle"></i> The mail is not valid
    </div>
  
    <div class="invalid-feedback" *ngIf="control.hasError('missingArroba')">
      <i class="fa fa-exclamation-triangle"></i> Retarded, add an @
    </div>
  
    <div class="invalid-feedback" *ngIf="control.hasError('minlength')">
      <i class="fa fa-exclamation-triangle"></i> The length is invalid
    </div>
  </ng-container>
  
  <ng-container *ngIf="group?.dirty || group?.touched">
    <div
      class="invalid-feedback"
      *ngIf="control.valid && group?.hasError('passwordMismatch')"
    >
      <i class="fa fa-exclamation-triangle"></i> Password and confirmation should
      match
    </div>
  </ng-container>
  