<div class="container">

    <div class="row mx-auto modal-dialog-centered">

        <div class="col-12 col-lg-5 shadow p-3 mx-auto">
            <h3 class="text-center pb-3">Apply for your account</h3>
            <form action="" method="post" name="FormApply">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" name="name" placeholder="name" id="name" aria-describedby="sizing-addon1" required>
                  </div>
                  <br>
                <div class="input-group input-group-lg">
                 <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                 <input type="dni" class="form-control" name="dni" placeholder="dni" id="dni" aria-describedby="sizing-addon1" required>
               </div>
               <br>
               <div class="input-group input-group-lg">
                 <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                 <input type="email" name="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" required>
               </div>
               <br>
               <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" type="submit">Apply</button>
              </form>
              <a href="/login">Return to login</a>
          </div>
          
    </div>

</div>