<p class="h1 text-center my-4">MENU</p>
<hr>
<button type="button" routerLink="." class="btn btn-primary btn-block"><i class="fab fa-elementor"></i>DASHBOARD</button>

<hr>
<button type="button" routerLink="users" class="btn btn-primary btn-block"><i class="fas fa-users-cog"></i>USERS</button>
<button type="button" routerLink="events" class="btn btn-primary btn-block"><i class="fas fa-calendar-day"></i>EVENTS</button>
<button type="button" routerLink="documents" class="btn btn-primary btn-block"><i class="fas fa-file"></i>DOCUMENTS</button>